<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>UUID v4 Generator</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/copy.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>UUID Version 4 Generator</h1>
    <p id="uuid"><%= it.uuid %></p>
    <p><a id="copy" href="#">&ZeroWidthSpace;</a></p>
    <p><a href="">Refresh🔄</a></p>
  </body>
</html>