body {
  margin: 0 auto;
  padding: 1em 2em;
  text-align: center;
  font-family: Consolas, monospace;
  font-size: 18pt;
  line-height: 1.5;
}

@media (min-width: 600px) and (orientation: landscape) {
  body {
    font-size: 28pt;
  }
}